{% extends "base.html" %}
{% block title %}View Complaints{% endblock %}
{% block content %}
{% for complaint in complaints %}
<table border=2>
<tr><td>Complainee Id</td>
<td>{{complaint.complainee_id}}</td></tr>
<tr><td>Addressed to</td>
<td>{{complaint.addressedto_id}}</td></tr>
<tr><td>Forwarded to</td>
<td>{{complaint.forwardto_id }}</td></tr>
<tr><td>Date Submitted</td>
<td>{{complaint.complaint_timestamp}}</td></tr>
<tr><td>Complaint type</td>
<td>{{complaint.complaint_type }}</td></tr>
<tr><td>Complaint details</td>
<td>{{complaint.details }}</td></tr>
<tr><td>Complaint Status</td>
<td>{{complaint.status }}</td></tr>
<tr><td>Reason</td>
<td>{{complaint.reason}}</td></tr>
<tr><td>Acceptance Status</td>
<td>{{complaint.isAccepted}}</td></tr>
</table>
<p></p>
{% endfor %}
{% endblock %}
